<p>
  <b>Number:</b>
  <%= @order.number %>
</p>

<p>
  <b>Date:</b>
  <%= @order.date %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %> (<%= @order.user.name %>)
</p>

<table id="line-items" class="table table-striped table-bordered">
  <tr>
    <th>Quantity</th>
    <th>Item Number</th>
    <th>Description</th>
    <th>Free?</th>
  </tr>
  <% for line_item in @order.line_items %>
    <tr>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.product.item_number %></td>
      <td><%= line_item.product.description %></td>
      <td><%= line_item.free %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>